@CHARSET "UTF-8";

h3 {
	font-size: 1.17em;
	line-height: 1.4;
	font-weight: bold;
	margin: 2px;
}

hr {
	margin: 1px;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
}

.map {
	height: 100%;
	width: 100%;
	float: left;
}

#mapDiv .amap-indoormap-floorbar-control {
	bottom: 10%;
}